<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="about">
  <h2>About Me</h2>
  <div class="about-content">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 style="margin-top: 120px;">Certificats</h4>
          <div class="stl">flip card</div>
        </div>
        <div class="flip-card-back">
          <h4>Certificats</h4>
          <p>-CCNA: Enterprise Networking, Security, and Automation (Juillet 2023)</p>
          <p>-CCNAv7: Switching Routing and Wireless Essentials (Juin 2023)</p>
          <p>-CCNAv7: Introduction to Networks (Novembre 2022)</p>
          <p>-NDG Linux Essential (Mars 2021)</p>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/images/IMG3.jpg" alt="John" style="width:100%">
      <h3>ACHRAF EL BADRI</h3>
      <p class="title">Etudiant en master 2, architecture des systèmes d'informations</p>
      <p>Ecole-IT (Ecole supérieure des technologies de l’information)</p>
      <div class="social-links">
        <a href="https://www.instagram.com/achraf_badri/"><i class="fa fa-instagram" style="margin-right: 40px;"></i></a>
        <a href="https://www.linkedin.com/in/achraf-el-badri-769645245"><i class="fa fa-linkedin" style="margin-right: 40px;"></i></a>
        <a href="https://github.com/ACHRAF-BADRI"><i class="fa fa-github"></i></a>
      </div>
      <button class="contactbtn" routerLink="/contact">Contact</button>
    </div>

    <div class="buttons">
      <button class="arrow-btn" routerLink="/experience">Experience<span class="arrow"></span></button>
      <button class="arrow2-btn2" routerLink="/projects">Projects<span class="arrow2"></span></button>
    </div>
  </div>
</div>
