
<div class="projects" [ngClass]="{'visible': isVisible}">
  <h1>Experience</h1>
  <div *ngFor="let project of projects" class="project-card">
    <div class="card">
      <div class="card-content">
        <div class="project-image">
          <img [src]="project.image" alt="Project Image">
        </div>
        <div class="project-details">
          <h2>{{ project.title }}</h2>
          <div class="project-date">{{ project.date }}</div>
          <button class="details-btn" type="button" (click)="openDetails(project)">Voir détails</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-detail-modal
  [isOpen]="isModalOpen"
  [title]="selectedExperience?.title || ''"
  [subtitle]="selectedExperience?.date || ''"
  [description]="selectedExperience?.description || ''"
  [details]="selectedExperience?.details || []"
  [tech]="selectedExperience?.tech || []"
  (closeModal)="closeDetails()">
</app-detail-modal>

<button class="scroll-to-top-btn" (click)="scrollToTop()" [class.visible]="isScrollButtonVisible">Top</button>
