<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="projects" [ngClass]="{'visible': isVisible}">
  <h1>Projects</h1>
  <div class="projects-container">
    <div class="project-card" *ngFor="let project of projects">
      <div class="card">
        <div class="card-content">
          <div class="project-image">
            <img [src]="project.image" alt="Project Image">
          </div>
          <div class="project-details">
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-media">
  <a href="https://github.com/ACHRAF-BADRI"><i class="fa fa-github" style="margin-right: 40px;"></i></a>
</div>

<button class="scroll-to-top-btn" (click)="scrollToTop()" [class.visible]="isScrollButtonVisible">Top</button>
