<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contact">
  <h1>Contact Me</h1>
  <mat-card>
    <div class="contact-details">
      <div class="detail">
        <mat-icon>person</mat-icon>
        <span>Achraf El Badri</span>
      </div>
      <div class="detail">
        <mat-icon>email</mat-icon>
        <span>achrafelbadri1&#64;gmail.com</span>
      </div>
      <div class="detail">
        <mat-icon>location_on</mat-icon>
        <span>France</span>
      </div>
    </div>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/achraf-el-badri-769645245"><i class="fa fa-linkedin" style="margin-right: 40px;"></i></a>
      <a href="https://github.com/ACHRAF-BADRI"><i class="fa fa-github" style="margin-right: 40px;"></i></a>
      <a href="https://www.instagram.com/achraf_badri/"><i class="fa fa-instagram"></i></a>
    </div>
  </mat-card>
</div>
