<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <a routerLink="/" class="logo">ACHRAF EL BADRI</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="menu">
      <li><a class="navbtn" routerLink="/">Home</a></li>
      <li><a class="navbtn" routerLink="/about">About</a></li>
      <li><a class="navbtn" routerLink="/projects">Projects</a></li>
      <li><a class="navbtn" routerLink="/experience">Experience</a></li>
      <li><a class="navbtn" routerLink="/contact">Contact</a></li>
    </ul>
  </header>
  <!--<mat-toolbar color="primary">
    <span>ACHRAF EL BADRI</span>
    <span class="spacer"></span>

    <button class="navbtn" routerLink="/">Home</button>
    <button class="navbtn" routerLink="/about">About</button>
    <button class="navbtn" routerLink="/projects">Projects</button>
    <button class="navbtn" routerLink="/experience">Experience</button>
    <button class="navbtn" routerLink="/contact">Contact</button>

    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/projects">Projects</a>
    <a mat-button routerLink="/experience">Experience</a>
    <a mat-button routerLink="/contact">Contact</a>
  </mat-toolbar>-->
  <router-outlet></router-outlet>

</body>
</html>

