.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--button-text);
  background-color: var(--button-bg);
  border: 2px solid var(--bg-primary);
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.scroll-to-top-btn.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top-btn:hover {
  background-color: var(--bg-card);
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
}
